body { margin: 0; background: #fff; font-family: 'Poppins', sans-serif; overflow-x: hidden; text-align: center; }
.top-bar { display: flex; justify-content: space-between; padding: 10px; border-bottom: 2px solid #000; align-items: center; background: #fff; }
.pay-btn { background: #000; color: #fff; border: none; padding: 8px 12px; border-radius: 5px; font-weight: bold; cursor: pointer; font-size: 11px; margin: 2px; }

.top-actions { margin: 20px 0; display: flex; flex-direction: column; gap: 15px; align-items: center; }
.buy-btn-top { background: #ef4444; color: #fff; padding: 15px 40px; text-decoration: none; font-weight: 900; border-radius: 50px; font-size: 18px; box-shadow: 0 10px 20px rgba(239, 68, 68, 0.4); }

.noti-check input { padding: 10px; border: 2px solid #000; border-radius: 5px; width: 220px; }
.noti-check button { padding: 10px 20px; background: #000; color: #fff; border: none; border-radius: 5px; cursor: pointer; }

.glow-title { font-size: 35px; font-weight: 900; background: linear-gradient(90deg, #ff0000, #002bff, #ff0000); background-size: 400%; -webkit-background-clip: text; -webkit-text-fill-color: transparent; animation: rainbow 8s infinite; }
@keyframes rainbow { 0% { background-position: 0%; } 100% { background-position: 400%; } }

.map-container { width: 95vw; height: 95vw; max-width: 600px; max-height: 600px; margin: 10px auto; border: 5px solid #000; overflow: hidden; position: relative; }
#viewport { width: 100%; height: 100%; touch-action: none; } /* ড্র্যাগ বন্ধ */

.support-btn { position: fixed; bottom: 20px; right: 20px; background: #22c55e; color: #fff; padding: 12px 20px; border-radius: 50px; text-decoration: none; font-weight: bold; font-size: 14px; box-shadow: 0 5px 15px rgba(0,0,0,0.2); }
